*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/codeStyles/Project.xml
/.idea/encodings.xml
*.properties
*.ser
*.project
/.settings/org.eclipse.buildship.core.prefs
/app/.classpath
/app/.project
/app/.settings/org.eclipse.buildship.core.prefs
*.xml
